{% assign lang = page.lang | default: "en" %}

{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ lang == "ru" and post.title_ru ? post.title_ru : post.title }}</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        {% if post.description %}
                            <p>{{ lang == "ru" and post.description_ru ? post.description_ru : post.description }}</p>
                        {% endif %}
                        <ul class="list-inline item-details">
                            {% if post.client %}
                                <li>Заказчик:
                                    <strong><a href="{{ post.client-link }}">{{ lang == "ru" and post.client_ru ? post.client_ru : post.client }}</a></strong>
                                </li>
                            {% endif %}
                            {% if post.project-date %}
                                <li>Дата:
                                    <strong><a class="inactiveLink">{{ post.project-date }}</a></strong>
                                </li>
                            {% endif %}
                            {% if post.category %}
                                <li>Категория:
                                    <strong><a class="inactiveLink">{{ lang == "ru" and post.category_ru ? post.category_ru : post.category }}</a></strong>
                                </li>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> {{ lang == "ru" ? "Закрыть" : "Close" }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
