{% assign lang = page.lang | default: "en" %}

{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ lang == "ru" ? post.title : post.title_en }}</h2>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ lang == "ru" ? post.alt : post.alt_en }}">
                        {% if post.description %}
                            <p>{{ lang == "ru" ? post.description : post.description_en }}</p>
                        {% endif %}
                        <ul class="list-inline item-details">
                            {% if post.client %}
                                <li>{{ lang == "ru" ? "Заказчик:" : "Client:" }}
                                    <strong>
                                        <a href="{{ post.client-link }}">{{ lang == "ru" ? post.client : post.client_en }}</a>
                                    </strong>
                                </li>
                            {% endif %}
                            {% if post.project-date %}
                                <li>{{ lang == "ru" ? "Дата:" : "Date:" }}
                                    <strong>
                                        <a class="inactiveLink">{{ lang == "ru" ? post.project-date : post.project-date_en }}</a>
                                    </strong>
                                </li>
                            {% endif %}
                            {% if post.category %}
                                <li>{{ lang == "ru" ? "Категория:" : "Category:" }}
                                    <strong>
                                        <a class="inactiveLink">{{ lang == "ru" ? post.category : post.category_en }}</a>
                                    </strong>
                                </li>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> {{ lang == "ru" ? "Закрыть" : "Close" }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
