<!DOCTYPE html>
<html>
    {% if page.lang == "ru" %}
        {% include head.ru.html %}
    {% else %}
        {% include head.html %}
    {% endif %}
    <body id="page-top" class="index">
    {% if page.lang == "ru" %}
        {% include nav.ru.html %}
        {% include header.ru.html %}
        {% include about.ru.html %}
        {% include portfolio_grid.ru.html %}
        {% include modals.ru.html %}
        {% if site.contact == "static" %}
            {% include contact_static.ru.html %}
        {% elsif site.contact == "disqus" %}
            {% include contact_disqus.ru.html %}
        {% else %}
            {% include contact.ru.html %}
        {% endif %}
        {% include footer.ru.html %}
    {% else %}
        {% include nav.html %}
        {% include header.html %}
        {% include about.html %}
        {% include portfolio_grid.html %}
        {% include modals.html %}
        {% if site.contact == "static" %}
            {% include contact_static.html %}
        {% elsif site.contact == "disqus" %}
            {% include contact_disqus.html %}
        {% else %}
            {% include contact.html %}
        {% endif %}
        {% include footer.html %}
    {% endif %}
    {% include js.html %}
    </body>
</html>